.items{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 22.5px;
    align-self: center;
    font-weight: 550;
    align-items: center;
    width: 100%;
}

.items> *{
    background-color: #e5e7eb;
    border-radius: 1rem;
    padding: 0.8rem;
    text-align: left;
    width: calc(100% - 2rem);
}

.hide{
    display: none;
}

h6{
    font-weight: 400;
    font-size: 20px;
    margin-top: 0.5rem;
    width: 100%;
}