.items{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 22.5px;
    align-self: center;
    font-weight: 550;
}

.items> *{
    background-color: #e5e7eb;
    border-radius: 1rem;
    padding: 0.8rem;
    text-align: left;
    width: 20rem;
}

.hide{
    display: none;
}

