.dropdownitems{
    padding: 0.75rem;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    column-gap: 4rem;
    flex-basis: auto;
}

.dropdownitem{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    gap: 0.4rem;
}

input{
    border-radius: 0.5rem;
    padding: 4px 4px 4px 7px;
    background-color: rgb(243,244,246);
    border: none;
    font-size: 20px;
    font-weight: 400;
}


.label{
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter";
    padding: 0.75rem;
}

textarea{
    width: 100%;
    border: none;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter";
    border-radius: 0.6rem;
}